services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant
    container_name: homeassistant
    # network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /home/pi/hass-configs:/config
    ports:
      - 8123:8123 #optional
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
      - /dev/ttyUSB1:/dev/ttyUSB1
    restart: unless-stopped
  zwavejs2mqtt:
    container_name: zwavejs2mqtt
    image: zwavejs/zwavejs2mqtt
    restart: unless-stopped
    environment:
      - TZ=America/New_York
    devices:
      - /dev/serial/by-id/usb-Silicon_Labs_HubZ_Smart_Home_Controller_51501255-if00-port0:/dev/zwave
    volumes:
      - zwave-config:/usr/src/app/store
    ports:
      - '8091:8091/tcp' # port for web interface
      - '3000:3000/tcp' # port for Z-Wave JS websocket server
volumes:
  zwave-config:
    name: zwave-config
