---
version: "2.1"
services:
  homeassistant:
    image: lscr.io/linuxserver/homeassistant
    container_name: homeassistant
    # network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    # volumes:
      # - /path/to/data:/config
    ports:
      - 8123:8123 #optional
    # devices:
      # - /path/to/device:/path/to/device
    restart: unless-stopped